

Flask
pyTelegramBotAPI
python-dotenv
Pillow
openpyxl
pytz
tzlocal
tzdata
typing_extensions
six
PyPDF2
anyio
httpx
httpcore
APScheduler
pdf2image
pytesseract
packaging
idna
h11
et_xmlfile
certifi
